body {
  background-color: rgb(233 233 81);
}

.title {
  padding: 10px 50px;
  color: purple;
}

.highted-score {
  background-color: rgb(200 200 235);
  height: 25px;
  margin-top: -5px;
}

.details-top {
  display: flex;
  gap: 10px;
}

.refresh {
  width: 83px;
  height: 29px;
  margin-top: 15px;
  background: purple;
  color: white;
  cursor: pointer;
}

.details-button {
  height: 294px;
  border: 2px solid;
  width: 326px;
}

.details {
  display: flex;
  gap: 74px;
  padding: 5px 140px;
  margin-left: 200px;
  margin-top: 50px;
}

input {
  width: 213px;
  height: 25px;
  font-size: 15px;
  color: purple;
  font-weight: bold;
}

.submitBtn {
  margin-top: 19px;
  margin-left: 121px;
  width: 100px;
  height: 31px;
  background: purple;
  color: white;
  cursor: pointer;
}

#displayList {
  width: 257px;
  padding: 0 10px;
}

.detail {
  border: 3px solid purple;
  border-radius: 0.5em;
  color: purple;
}

h3 {
  padding: 0 10px;
  color: purple;
}

.score-title {
  color: purple;
}

::placeholder {
  color: purple;
  font-size: 15px;
}
